@import url('https://fonts.googleapis.com/css2?family=Tenor+Sans&display=swap');

body {
  font-family: 'Tenor Sans', sans-serif;
  color: #f0d5c0;
  background-color: #144275;
}

header {
  position: sticky;
  top: 0;
  background-color: #144275;
  width: 100vw;
  z-index: 1;
}

nav ul {
  margin-right: 50px;
  display: flex;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #f0d5c0;
}

nav a {
  font-size: 1.2em;
  padding: 0 20px;
}
nav a:hover {
  color: #c76e66;
}

h1 {
  font-size: 2.5vw;
}


#header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#header-logo {
  height: 85px;
  margin-left: 50px;
}

#mobile-nav {
  display: none;
  border: none;
}

#welcome-section {
  display: block;
  position: relative;
  height: 100vh;
}

#welcome-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}

#tucker-photo {
  width: 60%;
  background-repeat: no-repeat;
  object-fit: cover;
  background-position: bottom;
  position: relative;
}

#about {
  height: 100vh;
  display: block; 
  position: relative; 
}

#about-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
}

#about-text {
  width: 50%;
  text-align: center;
}


.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #f0d5c0;
}

/* Remember to deal with hamburger menu here */
@media screen and (max-width: 768px) {

  nav a {
    display: none;
  }

  h1 {
    font-size: 5vw;
    padding: 20px 0;
  }

  #header-logo {
    margin-left: 15px;
  }

  #mobile-nav {
    display: block;
    background-color: #144275;
  }

  nav ul {
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    box-shadow:
        0 10px 27px rgba(0, 0, 0, 0.05);
  }

  #welcome-container {
    display: block;
    text-align: center;
    height: 100vh;
  }

  #tucker-photo {
    width: 100vw;
  }

  #tucker-avatar {

  }
}