@import url('https://fonts.googleapis.com/css2?family=Tenor+Sans&display=swap');

/* html { 
  background: url(/images/tucker-photo.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
} */

body {
  font-family: 'Tenor Sans', sans-serif;
  color: #f0d5c0;
  background-color: #144275;
  height: 100vh;
}

header {
  position: fixed;
  background-color: #144275;
  top: 0;
  width: 100vw;
  height: 85px;
}

nav {
  margin-right: 25px;
}

nav a {
  text-decoration: none;
  color: #f0d5c0;
  font-size: 1.2em;
  padding: 0 20px;
}
nav a:hover {
  color: #c76e66;
}

#header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#header-logo {
  height: 85px;
  margin-left: 25px;
}

#navbar a {

}

#welcome-section {
  height: 100vh;
  margin: 100px;
}

#about {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  min-height: 100%;
  min-width: 100%;
}

.photo-background {
  flex-shrink: 0;
  max-width: 100%;
  max-height: 100%;
}