@import url('https://fonts.googleapis.com/css2?family=Tenor+Sans&display=swap');

body {
  font-family: 'Tenor Sans', sans-serif;
  background-color: whitesmoke;
  height: 100%;
  margin: 0;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  min-height: 100%;
  min-width: 100%;
}

.photo-background {
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%;
}